body {
	font-family: Helvetica;
}

h1 {
	margin: 4px 0px;
}

h3 {
	margin: 8px;
}

canvas {
	display: inline;
	border: 1px solid black;
}

#canvFrame {	
	display: inline-block;
	vertical-align: top;
	/* border: 1px solid green; */
	padding: 0px;
}

/*  Profile Links */
/* ******************************************** */
#profLinks {
	font-size: 24px;
	transition-duration: 200ms;
	color: #222;
 }
 
 #profLinks a {
	text-decoration: none;
 }
 
 #profLinks a:hover, #profLinks a:visited:hover{
	transition-duration: 200ms;
	color: rgb(29, 170, 111);
 }
 
 #profLinks a:visited{
	transition-duration: 200ms;
	color: #888;
 }

/* Controls */
#grpGenerate {
	text-align: center;
	margin: 4px;
}

#mainField {
	display: inline-block;
	/* border: 2px solid rgb(0, 26, 255); */
}

#i-controls {
	display: inline-block;
	/* border: 2px solid red; */
}

.i-layer {
	display: inline-block;
	margin: 4px;
	padding: 4px;
}

.btnHL {
	background-color: #fffa66;
}