body {
	font-family: Helvetica;
}

h1 {
	margin: 4px 0px;
}

h3 {
	margin: 8px;
}

canvas {
	display: inline;
	border: 1px solid black;
}

#canvFrame {	
	display: inline-block;
	vertical-align: top;
	/* border: 1px solid green; */
	padding: 0px;
}

/* Controls */
#grpGenerate {
	text-align: center;
	margin: 4px;
}

#mainField {
	display: inline-block;
	/* border: 2px solid rgb(0, 26, 255); */
}

#i-controls {
	display: inline-block;
	/* border: 2px solid red; */
}

.i-layer {
	display: inline-block;
	margin: 4px;
	padding: 4px;
}

.btnHL {
	background-color: #fffa66;
}