body {
	font-family: Helvetica;
}

h1 {
	margin: 4px 0px;
}

h3 {
	margin: 8px;
}

canvas {
	display: inline;
	border: 1px solid black;
	margin: 16px auto 8px auto;
	/* transform: scale(.7); */
}

#canvFrame {	
	display: inline-block;
	vertical-align: top;
}

/* Controls */
#i-controls {
	display: inline-block;
}

.i-layer {
	display: inline-block;
	margin: 4px;
	padding: 4px;
}

.btnHL {
	background-color: #fffa66;
}